@import url("https://fonts.google.com/specimen/Outfit");

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
  color: #1f2c46;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

body {
  background-color: #d6e0ee;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.qr-card {
  background-color: white;
  flex-direction: column;
  width: 320px;
  padding: 16px;
  border-radius: 15px;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

#image {
  border-radius: 15px;
  width: 90%;
}

#header {
  color: #1f2c46;
  font-weight: 700;
  margin: 18px 0 10px;
}

#paragraph {
  color: #818591;
  font-size: 400;
  line-height: 1.4;
  margin-bottom: 10px;
}

#footer {
  align-self: flex-end;
  margin-top: 5px;
}

@media (max-width: 375px) {
  .qr-card {
    width: 85%;
    padding: 14px;
    margin-top: 20px;
  }

  #header {
    font-size: 1.05rem;
  }

  #paragraph {
    font-size: 0.9rem;
  }
  #footer {
    text-align: center;
  }
}
