@import url("https://fonts.google.com/specimen/Figtree");

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  font-family: "Figtree", sans-serif;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
}

#image {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}
#image:hover {
  opacity: 10%;
}

.card-content {
  padding: 20px;
}

#learning {
  font-weight: 800;
  background-color: hsl(47, 88%, 63%);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  font-size: 0.9rem;
}

#date {
  color: hsl(0, 0%, 7%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  border-radius: 15px;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 8px 8px 0px hsl(0, 0%, 7%);

  margin-top: 30px;
}

.card p {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
}
.author {
  display: flex;
  gap: 10px;
}
.author img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 5px;
}

footer {
  margin-top: 30px;
}

.card:hover {
  background-color: brown;
}
